<div class="center file-upload-box">
  <!-- <file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" customstyle="custom-dropzone-style"> -->
  <div class="drop-content col">
    <!-- <div class="col-md-12 text-center">Drop files below</div> -->
    <div class="file-upload-form">
      <form [formGroup]="fileUploadForm">
        <button type="button" class="btn btn-secondary browse-btn" onclick="document.getElementById('upload-btn').click()">Upload files</button>
        <input id="upload-btn" type="file" name="file-input" multiple required formControlName="fileUpload" placeholder="Select File" (change)="onFileUpload($event.target.files)"
          class="hide btn btn-secondary browse-btn">
      </form>
    </div>
    <div class="row">
      <!-- <div class="col-md-2" *ngIf="prevFileList.length > 0">
        <table class="table table-bordered table-scrollable">
          <thead class="bg-dark text-white">
            <tr class="text-center">
              <th scope="col">Recent uploads {{prevFileList.length}}</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr *ngFor="let file of prevFileList; let i=index">
              <td scope="row" title="{{file}}" class="td-file-name">
                <strong class="trim-text">{{file}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <div class="upload-table col-md-12 scrollable-height">
        <table class="table table-bordered ">
          <thead class="bg-dark text-white">
            <tr class="text-center">
              <th scope="col">File Name</th>
              <th scope="col" >Size (KB)</th>
              <th scope="col" >File Uploaded Status</th>
            </tr>
          </thead>
          <tbody *ngIf="fileInfoList.length > 0" class="upload-name-style ">
            <tr *ngFor="let file of fileInfoList; let i=index">
              <td scope="row">
                <strong>{{ file.fileName }}</strong>
              </td>
              <td scope="row" class="text-center">
                {{(file.size)/1024 | number}} {{!file.size ? '--' : ''}}
              </td>
              <td scope="row" class="text-center">
                {{file.status}}
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="fileInfoList.length === 0" >
            <tr >
              <td colspan="3" class="text-center">
                  No Data Available
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <!-- </file-drop> -->
</div>
