<div class="center file-upload-box">
  <!-- <file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" customstyle="custom-dropzone-style"> -->
  <div class="drop-content col">
    <!-- <div class="col-md-12 text-center">Drop files below</div> -->
    <div class="file-upload-form">
      <form [formGroup]="fileUploadForm">
        <input type="file" name="file-input" multiple required formControlName="fileUpload" placeholder="Select File" (change)="onFileUpload($event.target.files)"
          class="btn btn-secondary browse-btn">
      </form>
    </div>
    <div [hidden]="table" class="upload-table">
      <table class="table">
        <thead class="bg-dark text-white">
          <tr>
            <th scope="col">File Name</th>
            <th scope="col">Size</th>
            <th scope="col">File Uploaded Status</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
          <tr *ngFor="let file of fileInfoList; let i=index">
            <td scope="row">
              <strong>{{ file.fileName }}</strong>
            </td>
            <td scope="row">
              {{ file.size }}
            </td>
            <td scope="row">
              {{file.status}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </file-drop> -->
</div>
