<div class="center file-upload-box">
  <file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" customstyle="custom-dropzone-style">
    <div class="drop-content col">
      <div class="col-md-12 text-center">Drop files below</div>
      <div class="file-upload-form">
        <form [formGroup]="fileUploadForm">
          <input type="file" name="file-input" multiple required formControlName="fileUpload" placeholder="Select File" (change)="onFileUpload($event.target.files)"
            class="btn btn-secondary browse-btn">
        </form>
      </div>
      <div class="upload-table">
        <table datatable class="row-border hover">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Size</th>
              <th>File Uploaded Status</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i=index">
              <td>
                <strong>{{ item.relativePath }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </file-drop>
</div>
