<!-- <div class="card text-black">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li *ngFor="let file of fileList; let i = index" class="nav-item">
        <a class="nav-link" [routerLink]="['tree',file]">{{file}}</a>
      </li>
    </ul>
  </div>
  <div class="card-body scrollable-height">
    <router-outlet></router-outlet>
  </div>
</div> -->

<div class="card text-black">
  <div class="card-header card-header-ht">
    <div class="hori-scroll-menu">
        <a *ngFor="let file of fileList; let i = index"  class="trim-text hori-tab" (click)="activeTab($event)"
         [routerLink]="['tree',file]" title="{{file}}">{{file}}</a>
    </div>
  </div>
  <div class="card-body scrollable-height">
    <router-outlet></router-outlet>
  </div>
</div>
