<div class="row container-fluid m-0">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        Final structure to be generated:
      </div>
      <div class="card-body scrollable-height">
        <tree-root [nodes]="nodes ? nodes : null" [options]="options"
          (toggleExpanded)="onToggle()" (initialized)="onInitialized($event)"></tree-root>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-secondary submit-btn m-20" style="display: none;">Generate PDI Metadata</button>
    <button type="button" class="btn btn-secondary submit-btn" (click)="downloadFile()">Generate WorkFlow
      <fa *ngIf="loader" name="spinner fa-spin"></fa>
    </button>
  </div>
</div>
