<div class="row container-fluid m-0">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        Final structure to be generated:
      </div>
      <div class="card-body scrollable-height verify-tree">
        <app-search-node [nodeTree]="tree" [searchContainerSelector]="'.verify-tree'"></app-search-node>
        <tree-root #tree [nodes]="nodes ? nodes : null" [options]="options" (toggleExpanded)="onToggle()"
          (initialized)="onInitialized($event)" (changeFilter)="onFiltered()">
          <ng-template #treeNodeTemplate let-node let-index="index">
              <span *ngIf="node.isAttribute" class="attr-icon">@</span>
              <span *ngIf="!node.isAttribute" class="attr-icon">e</span>
              <span class="config-text node-name" [ngClass]="{'selected-to-delete': node.isSelected, 'alert-warning': node.stringMatched}">
                <span tabindex="0" role="button" id="node-{{node.data.id}}">{{ node.data.name }}</span>
              </span>
          </ng-template>
        </tree-root>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-secondary submit-btn m-b-10" (click)="downloadPDIfile()">Generate PDI File
      <fa *ngIf="pdiLoader" name="spinner fa-spin"></fa>
    </button>
    <button type="button" class="btn btn-secondary submit-btn" (click)="downloadJSONfile()">Generate WorkFlow
      <fa *ngIf="jsonLoader" name="spinner fa-spin"></fa>
    </button>
  </div>
</div>
