<div class="row container-fluid m-0">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        Final structure to be generated:
      </div>
      <div class="card-body scrollable-height verify-tree">
        <tree-root [nodes]="nodes ? nodes : null" [options]="options"
          (toggleExpanded)="onToggle()" (initialized)="onInitialized($event)">
          <ng-template #treeNodeTemplate let-node let-index="index">
              <fa *ngIf="node.isAttribute" name="at fa-lg attr-icon"></fa>
              <fa *ngIf="!node.isAttribute" name="code fa-lg attr-icon"></fa>
              <span class="config-text" [ngClass]="{'selected-to-delete': node.isSelected}">
                <span tabindex="0" role="button" id="{{node.data.id}}">{{ node.data.name }}</span>
              </span>
          </ng-template>
        </tree-root>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-secondary submit-btn m-20" style="display: none;">Generate PDI Metadata</button>
    <button type="button" class="btn btn-secondary submit-btn" (click)="downloadFile()">Generate WorkFlow
      <fa *ngIf="loader" name="spinner fa-spin"></fa>
    </button>
  </div>
</div>
