.header {
  font-size: 15px;
}

.work-flow {
  font-size: 25px;
  font-weight: 500;
}
.nav-btn-container {
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: 70%;
}
.nav-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /* border: none; */
  margin: 0 20px;
  cursor: pointer;
  background-color: #F7F7F7;
  outline: none;
}
.nav-btn:hover {
  background: white;
}
.hide-prev .prev-btn {
  display: none;
}
.hide-ok .ok-btn {
  display: none;
}
.hide-next .next-btn {
  display: none;
}

/* progress-bar width css */
.width-33 {
  width: 33.33333333%;
}
.width-66 {
  width: 66.66666666%;
}
.width-100 {
  width: 99.99999999%;
}

/* overriding bootstrap css */
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}
