<app-search-node [nodeTree]="tree" [searchContainerSelector]="lhsTreeSelector"></app-search-node>
<app-scroll-top-bottom [scrollDivToTop]="false" [scrollDivSelector]="lhsTreeScrollDivSelector"></app-scroll-top-bottom>
<tree-root #tree [nodes]="nodes?.data?.treeview?.fileValue?.tree" [options]="options" (toggleExpanded)="onToggle()" 
    (initialized)="onInitialized($event)" (changeFilter)="onFiltered()">
    <ng-template #treeNodeTemplate let-node let-index="index">
        <span *ngIf="node.isAttribute" class="attr-icon">@</span>
        <span *ngIf="!node.isAttribute" class="attr-icon">e</span>
        <span class="config-text" [ngClass]="{'selected-to-delete': node.isSelected}">
            <span tabindex="0" role="button" id="node-{{node.data.id}}">{{ node.data.name }}</span>
        </span>
    </ng-template>
</tree-root>
<app-scroll-top-bottom [scrollDivToTop]="true" [scrollDivSelector]="lhsTreeScrollDivSelector"></app-scroll-top-bottom>

