<tree-root [nodes]="nodes?.data?.treeview?.fileValue?.tree"
 [options]="options" (toggleExpanded)="onToggle()" (initialized)="onInitialized($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
        <fa *ngIf="node.isAttribute" name="at fa-lg attr-icon"></fa>
        <fa *ngIf="!node.isAttribute" name="code fa-lg attr-icon"></fa>
        <span class="config-text" [ngClass]="{'selected-to-delete': node.isSelected}">
          <span tabindex="0" role="button" id="{{node.data.id}}">{{ node.data.name }}</span>
        </span>
    </ng-template>
</tree-root>
