<div class="card">
  <div class="card-body">
    <tree-root [nodes]="nodes ? nodes : null" [options]="options">
      <ng-template #treeNodeTemplate let-node let-index="index">
        <span>{{ node.data.name}}</span>
        <input type="checkbox" [(ngModel)]="node.data.search">Search
        <input type="checkbox" [(ngModel)]="node.data.result">Result
        <select [(ngModel)]="node.data.datatype">
          <option value="string">String</option>
          <option value="time">Time</option>
          <option value="byte">Byte</option>
          <option value="float">Float</option>
          <option value="long">Long</option>
          <option value="int">Integer</option>
        </select>
      </ng-template>
    </tree-root>
  </div>
</div>
