<div class="card">
  <div class="card-header card-header-ht">
    <div class="col-md-12">
      <span class="tree-chkbx">Configuration</span>
      <span title="{{enableDelete ? 'Delete selected' : 'Select items first'}}" class="multi-delete-bx pull-right" (click)="enableDelete ? openConfirmDeleteModal(): null" [ngClass]="{'enabled': enableDelete}">
        <fa *ngIf="deleteProgress" name="spinner fa-spin m-10 col-black"></fa>
        <fa name="trash fa-lg"></fa>
      </span>
    </div>
  </div>
  <div class="card-body scrollable-height rhs-tree">
    <tree-root #tree [nodes]="nodes ? nodes : null" [options]="options" (toggleExpanded)="onToggle()" (initialized)="onInitialized($event)"
      (copyNode)="onCopyNode($event)" (toggleExpanded)="onToggleExpanded($event)">
      <ng-template #treeNodeTemplate let-node let-index="index">
        <span class="config-text">
          <span tabindex="0" role="button" id="{{node.data.id}}">{{ node.data.name }}</span>
          <div class="popover hide">
            <div class="arrow"></div>
            <div class="popover-body">
              <span class="search-bx tree-chkbx">Search
                <input type="checkbox" [(ngModel)]="node.data.search">
              </span>
              <span class="result-bx tree-chkbx">Result
                <input type="checkbox" [(ngModel)]="node.data.result">
              </span>
              <select [(ngModel)]="node.data.datatype" class="type-bx tree-chkbx">
                <option value="STRING">String</option>
                <option value="INTEGER">Integer</option>
                <option value="LONG">Long</option>
                <option value="DOUBLE">Double</option>
                <option value="DATE">Date</option>
                <option value="DATETIME">DateTime</option>
              </select>
              <span class="delete-bx tree-chkbx" (click)="confirmDelete($event, node, tree)">
                <fa name="trash"></fa>
              </span>
            </div>
          </div>
        </span>
      </ng-template>
    </tree-root>
  </div>
</div>
<a id="confirm-delete" class="hide" data-toggle="modal" data-target="#confirmDeleteModal"></a>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal">
  <div class="modal-dialog">
    <div class="modal-content text-left">
      <div class="modal-header">
        <h4 class="modal-title">Confirm delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          This will delete item(s) permanently. <br> If it contains children, it will also be deleted.
          <br>Are you sure?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="handleSingleMultiDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
