/* delete feature css */
a {
  color: #4D95CD;
}
.hide {
  display: none;
}
.m-0 {
  margin: 0;
}
.m-t-0 {
  margin-top: 0;
}
.m-l-20 {
  margin-left: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-0-20 {
  margin: 0 20px;
}
.p-0 {
  padding: 0;
}
.p-t-0 {
  padding-top: 0!important;
}
.p-l-0 {
  padding-left: 0!important;
}
.p-b-0 {
  padding-bottom: 0!important;
}
.p-r-0 {
  padding-right: 0!important;
}
.br-5 {
  border-radius: 5px!important;
}
.trim-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scrollable-height {
  min-height: 300px;
  overflow: auto;
}
.card:last-of-type {
  border-bottom-style: solid!important;
  border-bottom-width: 1px!important;
  border-color: rgba(0, 0, 0, 0.125)!important;
}
.card-header-ht {
  height: 55px;
  padding: 1rem 0.75rem;
}
.output-text {
  border-radius: 0.25rem;
}
.undo-remove-bx {
  margin: 0 5px;
  font-size: 13px;
  left: 0;
  position: absolute;
  color: rgb(166,166,166);
}
.undo-remove-bx:hover {
  margin-top: -8px;
  font-size: 20px;
  color: #007bff;
}
.trim-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-black {
  color: #000000;
}
/* tree css  overriding bootstrap */
.node-content-wrapper,
.node-content-wrapper-active, .node-content-wrapper-focused,
.node-content-wrapper.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused,
.node-content-wrapper:hover {
  background: transparent;
  border: none;
  box-shadow: none;
}
.node-wrapper:hover {
  background: #E0E0E0 !important;
  box-shadow: inset 0 0 1px #E0E0E0 !important;
}
.node-wrapper.active {
  background: #E0E0E0 !important;
  box-shadow: inset 0 0 1px #999 !important;
}
.config-text {
  position: relative;
  padding:2px 5px
}
.attr-icon {
  color: #4D95CD;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #4D95CD;
  padding: 0px 4px 0px;
}
.attr-a {
  padding: 0px 2px 1px;
}
/**** Iphone ****/
/* 
@media (max-width: 414px) {
  .scrollable-height {
    height: 300px;
  }
} */
/**** IPads ****/
/* @media (min-width: 768px) and (max-width: 1024px) {
  .scrollable-height {
    height: 500px;
  }
} */
/* resized normal window MAC */
/* @media (min-width: 1200px) and (max-width: 1439px) {
  .scrollable-height {
    height: 480px;
  }
} */
@media (max-height: 499px) {
  .scrollable-height {
    height: 300px;
  }
}
@media (min-height: 500px) and (max-height: 718px) {
  .scrollable-height {
    height: 395px;
  }
}
@media (min-height: 719px) and (max-height: 798px) {
  .scrollable-height {
    height: 480px;
  }
}
/* maximized window MAC */
/* @media (min-width: 1440px) {
  .scrollable-height {
    height: 560px;
  }
} */
@media (min-height: 799px) {
  .scrollable-height {
    height: 560px;
  }
}
